{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}
{% load staticfiles %}

 <div class="container">

   <div class="row">
     <img src="{{post.image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{post.name}}</h1>
   </div>

   <div class="row">
     {% autoescape on %}
     {{post.description| safe}}
    {% endautoescape %}

   </div>

   <div class="row">
     <p>Posted on {{post.date|date}} by  <a href="/accounts/profile/{{post.user_profile.username}}">{{post.user_profile.username}}</a></p>

   </div>

     <div>
         <a href="{{post.live_link}}" target="_blank"> <p>view live project</p></a>
         <p>Total ratings: {{post.ratings.count}}</p>
         {% for rating in post.ratings.all%}
 {% if forloop.counter is post.ratings.all.count %}
                   <p> Design: {{design_score}}</p>
                            <p> Usability: {{rating.usability}}</p>
                                     <p> Content: {{rating.content}}</p>


                            <p> Score: {{rating.score}}</p>

 {% endif %}

         {% endfor %}


   </div>
          {{form.media}}

                    <form style="width:100%; padding-left:20px;padding-right:20px;" action="{%url 'rate_post' pk=post.id%}" method="post" enctype="multipart/form-data">
                      {%csrf_token%}

                      {% bootstrap_form form%}
    <input type="submit" value="Submit" class="btn btn-success">

                    </form>

               {% block scripts %}
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

              {% bootstrap_javascript %}
            {% endblock %}


 </div>

 {% endblock %}
