{%extends 'base.html'%}
{% block content %}
<div class="container">
<br>

    {% if posts%}
      <h1 style="color:#0d47a1">Found {{ posts|length }} posts of searched term : {{message}}</h1>

    {% else %}
    <br>

        <h1 style="color:#0d47a1"> Found 0 posts for the search term : {{message}}</h1>


    {% endif %}


<br>
  {% if posts %}
      <div class="card-columns">

    {% for post in posts %}  <div class="card border-secondary">
          <a href="/post/{{post.id}}"><img class="card-img-top" src="{{post.image.url}}" class="img-responsive" alt="Image" size="100px200" type="button" class="btn btn-primary"></a>

  </div>



      {% empty %}
  <div class="row">
    <h2 class="text-center">There is no posts here</h2>
  </div>

    {% endfor %}
  {% endif %}
      </div>
                </div>


{% endblock %}